
data1_ANALYSIS.xlsx
group_project_1_ricco_ferraro.Rmd
group_project_1_ricco_ferraro.Rmd
group_project_1_ricco_ferraro2.Rmd
group_project_1_ricco_ferraro.Rmd
group_project_1_TeamRAA.html
group_project_1_TeamRAA.Rmd
